.home {
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

.content {
	margin: 0 auto;
	width: 980px;
}

.content div{
	display: inline-block;
}

header .content {
	text-align: center;
}

.center {
	width: 980px;
	vertical-align: top;
}

.links1, .links2 {
	vertical-align: top;
	margin-top: 30px;
}

.links1 a {
	padding-left: 20px;
}

.links2 a {
	padding-right: 20px;
}

.links1 {
	margin-right: 50px;
}

.links2 {
	margin-left: 50px;
}


a {
	color: #acacac;
	text-decoration: none;
}

.logo {
	background-image: url('/assets/images/logo.png');
	width: 235px;
	height: 79px;
}

.carousel{
	background-image: url('/assets/images/banner.png');
	position: relative;
	width:1008px;
	height: 499px;
}

.calltoaction{
	position:absolute;
	color:white;
	width: 100%;
	font-weight: lighter;
	font-size: 40px;
	padding-left: 60px;
	padding-top: 100px;
}

.largetext{
	font-weight:bold;
	font-size: 120px; 
	font-style: italic;
}
.icon {
	position: absolute;
	left: 50%;
	margin-left: -29px;
	width: 59px;
	height: 59px;
}

.feature {
	position: relative;
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

.title {
	margin-top: 60px;
	text-align: center;
	padding: 10px 110px;
}

.description{
	padding:10px;
}

.organize {
	background-image: url('/assets/images/organize_icon.png');
}

.share {
	background-image: url('/assets/images/share_icon.png');
}

.print {
	background-image: url('/assets/images/print_icon.png');
}

.title{
	font-weight: normal;
	text-align: center;

}

.video,.signup{
	display:inline-block;
}

.features {
	margin-top: 30px;
	font-weight: lighter;
}

.signup {
	margin-left: 10px;
	vertical-align: top;
	font-weight: lighter;
	font-size:35px;
	width: 405px;
	margin-top: 35px;
}

.signup div {
	margin: 10px;
}


.signup input {
	display: inline-block;
	margin: 0px;
	height: 40px;
	width: 260px;
	box-shadow: 0px 0px 11px -3px inset;
	border: none;
}

.signup .button {
	display: inline-block;
	color: #ffffff;
	background-color: #48c2c4;
	margin: 0;
	padding: 11px;
	font-size: 14px;
	cursor: pointer;
	height:20px;
}








