.snippet {
	border:1px solid #222222;
	display: inline-block;
	padding: 15px;
	margin: 15px;
	vertical-align: middle;
}

.snippet p {
	width: 263px;
}

.pageView header {
	border:1px solid #222222;
	border-radius: 10px;
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
	padding: 15px;
}

.pageView header h3 {
	display: inline-block;
}

.pageView header p {
	display: inline-block;
	margin-left: 40px;
}

.pageView section {
	border: 1px solid #222222;
	border-radius: 10px;
	margin-bottom: 30px
}

.selected {
	font-weight:bold;
}

.chapter-nav {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1029;
	margin-bottom: 0;
	padding:10px;
	background: white;
	top: 40px;
	border-bottom: 1px solid #222222;
}

.navHeader {
	text-align: center;
	font-weight: bold;
	font-size: 1.7em;
	display: inline-block;
	width: 80%;
}

.view-body {
	padding-top: 100px;
}

aside {
	vertical-align:top;
	position: fixed;
}

.pageView {
	padding-left: 0px;
	padding-right: 10px;
	display: table-cell;
	vertical-align:top;
}

.modal textarea {
	width: 100%
}

.brand {
	margin-left: 0px !important;
	30 + 263 + 60 + 263 + 60 + 263 + 30 
}

.pagesList ul {
	list-style-type: none;
	margin-left: 10px;
}

.pagesList {
}

.pagesListFixed {
	width: 251px;
	float: left;
}

.pagesColumnSpacer {
	width: 251px;
	display: table-cell;
}

.pagesList li {
	border: 1px solid black;
	text-align: center;
	border-radius: 4px;
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pagesList .selected {
	font-weight: normal;
	background-color: #eeeeff;
}

.pagesList li div div {
	font-size: 0.6em;
	text-align: right;
	position: relative;
	padding-right: 5px;
	line-height: 1.2em;
	left: 195px;
	top: -15px;
}

.pagesListNoWrap li {
	border: 1px solid black;
	text-align: center;
	border-radius: 4px;
	font-size: 1.5em;
	padding: 20px;
	display: inline-block;
}

.pageActions {
	position: absolute;
}

.smallPageActions {
	position: absolute;
}

.smallPageActions div {
	position: relative;
	font-size: 0.6em;
	text-align: left;
	left: -10px;
	top: -20px;
}

.centerable-block {
	display: inline-block;
	text-align: left;
}

.pageContent {
	display: inline-block;
	text-align: left;
}

.pageContainer {
	text-align: center;
}

.scroll {
	overflow-y: auto;
	height: 600px
}

.column {
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

.fullWidthColumns {
	display: table;
	width: 100%;
}