.snippet {
	border:1px solid #222222;
	display: inline-block;
	padding: 15px;
	margin: 15px;
}

.pageView header {
	border:1px solid #222222;
	border-radius: 10px;
	margin-top: 30px;
	padding: 15px;
}

.selected {
	font-weight:bold;
}

.pageView {
	position:fixed;max-height:100%;overflow-y:auto;
}