.snippet {
	border:1px solid #222222;
	display: inline-block;
	padding: 15px;
	margin: 15px;
}

.pageView header {
	border:1px solid #222222;
	border-radius: 10px;
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
	padding: 15px;
	offset
}

.pageView header h3 {
	display: inline-block;
}

.pageView header p {
	display: inline-block;
	margin-left: 40px;
}

.pageView section {
	border: 1px solid #222222;
	border-radius: 10px;
	margin-bottom: 30px
}

.selected {
	font-weight:bold;
}

.chapter-nav {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1029;
	margin-bottom: 0;
	padding:10px;
	background: white;
	top: 40px;
	border-bottom: 1px solid #222222;
}

.view-body {
	padding-top: 100px;
}

aside {
	float: left;
	position: fixed;
}

.pageView {
	padding-left: 10px;
	padding-right: 10px;
	width: 977px;
	float: right;
}

.brand {
	margin-left: 0px !important;
	30 + 263 + 60 + 263 + 60 + 263 + 30 
}