<nav class="chapter-nav">
<div class="btn-group">
  <button ng-repeat="chapter in story.chapters | orderBy:ordering" class="btn" ng-class="{'btn-primary': curChapter.id==chapter.id}"
     ng-click="setChapter($index)">{{chapter.name}}</button>
</div>
<a href="#/toc">Table of Contents</a>
<button class="btn btn-primary pull-right" ng-click="addItem()">Add Snippet</button>
<span class="pull-right" ng-if="numUploading()">Uploading... ({{numUploading()}})</span>
</nav>

<aside class="pagesList pagesListFixed">
<ul>
  <li ng-repeat="page in curChapter.pages" ng-class="{selected: $index==pageIdx}">
  <div class="pageActions"><div><a href="javascript:void(0);" ng-click="editPage(page.id, $index)">Edit</a></div>
      <div><a ng-if="curChapter.pages.length > 1" href="javascript:void(0);" ng-click="deletePage(page.id, $index)">Delete</a></div></div>
    <a href="javascript:void(0);" ng-click="setPageIdx($index)">{{page.name}}</a>
  </li>
  <li><button class="btn" ng-click="addPage()">Add a page...</button></li>
</ul>
</aside>
<div class="fullWidthColumns">
<div class="pagesColumnSpacer"></div>
<article class="pageView">
  <section ng-repeat="page in curChapter.pages">
    <header>
      <h3>{{page.name}}</h3>
      <p>{{page.description}}</p>
    </header>
    <div class="pageContainer">
    <div class="pageContent">
      <div class="snippet" ng-repeat="item in page.items">
        <div><a href="javascript:void(0);" ng-click="editItem($parent.$index, $index, item.id)">Edit</a>
        <a href="javascript:void(0);" ng-click="deleteItem($parent.$index, $index, item.id)">Delete</a></div>
        <img ng-if="item.picture" width="263" height="263" ng-src="{{getPicUrl(item.picture,'flow')}}" />
        <img ng-if="item.localImageId" ng-src="{{getLocalPic(item.localImageId,'flow')}}" />
        <p>{{item.description || '&nbsp;'}}</p>
      </div>
    </div>
    </div>
  </section>
</article>
</div>


<script type="text/ng-template" id="addSnippetDialog.html">
    <div class="modal-header">
        <h3>Add a Snippet</h3>
    </div>
    <div class="modal-body">
    	<div ng-show="!thumbnail">
    		<button class="btn" ng-click="selectPic()" autofocus>Select Picture</button>
    		<input type="file" id="picFileInput" ng-show="false" 
    			onchange="angular.element(this).scope().uploadPic(this.files[0]); angular.element(this).scope().$digest();"
    			accept="image/jpeg|image/png|image/gif" />
    	</div>
    	<div ng-show="thumbnail">
    		<img ng-src="{{thumbnail}}">
    		<p>Add a caption:</p>
	        <textarea ng-model="$parent.caption"></textarea>
    	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-show="thumbnail">Add</button>
    </div>
</script>
<script type="text/ng-template" id="editSnippetDialog.html">
    <div class="modal-header">
        <h3>Edit Snippet</h3>
    </div>
    <div class="modal-body">
		<div><img ng-src="{{thumbnail}}"></div>
		<button class="btn" ng-click="selectPic()">Change Picture</button>
		<input type="file" id="picChangeFileInput" ng-show="false" 
			onchange="angular.element(this).scope().uploadPic(this.files[0]); angular.element(this).scope().$digest();"
			accept="image/jpeg|image/png|image/gif" />
		<p>Edit caption:</p>
        <textarea ng-model="$parent.caption" autofocus></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-show="thumbnail">Save</button>
    </div>
</script>
<script type="text/ng-template" id="confirmDeleteSnippet.html">
    <div class="modal-body">
    	<p>Are you sure you want to delete this snippet?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" autofocus>No</button>
        <button class="btn btn-primary" ng-click="ok()">Yes</button>
    </div>
</script>
<script type="text/ng-template" id="addPageDialog.html">
    <div class="modal-header">
        <h3>Create Page</h3>
    </div>
    <div class="modal-body">
    	<label>Name of page: </label>
    	<input type="text" ng-model="$parent.name" placeholder="e.g. name of event or topic" autofocus />
    	<p>Description</p>
        <textarea ng-model="$parent.description"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-show="name">Add</button>
    </div>
</script>
<script type="text/ng-template" id="editPageDialog.html">
    <div class="modal-header">
        <h3>Edit Page</h3>
    </div>
    <div class="modal-body">
    	<label>Name of page: </label>
    	<input type="text" ng-model="$parent.name" placeholder="e.g. name of event or topic" autofocus />
    	<p>Description</p>
        <textarea ng-model="$parent.description"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-show="name">Save</button>
    </div>
</script>
<script type="text/ng-template" id="confirmDeletePage.html">
    <div class="modal-body">
    	<p>Are you sure you want to delete this page?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" autofocus>No</button>
        <button class="btn btn-primary" ng-click="ok()">Yes</button>
    </div>
</script>
